---
import DynamicTextComponent from "../../components/DynamicTextComponet/dynamictext.astro";
import foto from "../../../public/assets/IP.jpg";
---

<main
  class="flex flex-col-reverse md:flex-row items-center justify-center w-full pt-10 px-6 mt-12"
>
  <div class="w-full md:w-1/2 text-center px-4 mt-6 md:mt-0">
    <DynamicTextComponent />

    <h2 class="font-cinzel text-2xl font-bold mb-4 pb-2">
      Junior FullStack Developer
    </h2>

    <p class="font-roboto text-sm md:text-base">
      Soy desarrolladora freelance Full Stack con 3 años de experiencia, y
      formación en administración de sistemas y ciberseguridad. Mi pasión por el
      desarrollo web me ha llevado a participar en proyectos como aplicaciones
      de gestión hotelera, integrando tecnologías como React, Node.js y MongoDB.
      Además, tengo sólidos conocimientos en resolución de incidencias técnicas,
      automatización mediante scripts y trabajo con metodologías ágiles. Estoy
      comprometida con el aprendizaje continuo y con la creación de soluciones
      innovadoras que aporten valor real.
    </p>
  </div>

  <div class="w-full md:w-1/2 text-center px-4">
    <img
      src={foto.src}
      alt="imagen maria gargoles"
      class="rounded-full mx-auto w-32 h-32 sm:w-40 sm:h-40 md:w-48 md:h-48"
    />
  </div>
</main>
