---
import { GrDocumentDownload } from "react-icons/gr";

---

<a href="../../assets/CVMariaGargolesL.pdf" 
download="CVMariaGargolesLajarin.pdf" 
class="hover:underline flex items-center gap-2" >
  <GrDocumentDownload />
</a>