---
import { GrDocumentDownload } from "react-icons/gr";
import CV from "../../../public/assets/CVMariaGargolesL.pdf";
---

<a
  href="../../../public/assets/CVMariaGargolesL.pdf"
  download="MariaGargoles"
  class="hover:scale-110 transition duration-300 flex items-center gap-2"
>
  <GrDocumentDownload />
</a>
