---
import { GrDocumentDownload } from "react-icons/gr";
---

<a
  href="/assets/CVMariaGargolesL.pdf"
  download="MariaGargoles"
  class="hover:scale-110 transition duration-300 flex items-center gap-2"
>
  <GrDocumentDownload />
</a>
