---
interface Props {
  title: string;
}
import Footer from "../components/FooterComponent/footer.astro";
import Header from "../components/HeaderComponent/header.astro";
import "@fontsource/roboto";
const { title } = Astro.props;
import "@fontsource-variable/cinzel";
import "@fontsource-variable/syne";
import ContactMainComponent from "@components/ContactComponent/ContactMainComponent.astro";
import { FaExpeditedssl } from "react-icons/fa";
---

<!doctype html>
<html lang="es" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      (function () {
        const theme = localStorage.getItem("theme") || "light";
        document.documentElement.className = theme;
      })();
    </script>
  </head>
  <body>
    <Header />
    <ContactMainComponent />
    <Footer class="fixed-footer" />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
  }

  html.light {
    --background-color: #ecf0f1;
    --text-color: #1c2833;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html.light nav a:hover {
    background-color: rgb(179, 182, 183);
  }

  html.light footer {
  }

  html.dark {
    --background-color: #212121;
    --text-color: #f7f9f9;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent-dark)),
      rgb(var(--accent)),
      black 60%
    );
  }

  html.dark nav a:hover {
    background-color: rgb(82, 82, 82);
  }

  html.light header {
    box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29);
  }
  header {
    font-family: "Roboto", sans-serif;
  }
  section > h2 {
    font-family: "Roboto", sans-serif;
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  html.light input {
    background-color: white;
    color: black;
  }

  html.light textarea {
    background-color: white;
    color: black;
  }
  html.light footer {
    box-shadow: 0em -0.31em 2.4em 0em rgba(0, 0, 0, 0.5);
  }
  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0em -0.31em 2.4em 0em rgba(0, 0, 0, 0.5);
  }
</style>
