---
import logo from "../../assets/imagenMaria.png";
import Buttonlight from '../DarkLightButtonComponent/buttonlight.astro';
import { FaLaptopCode } from "react-icons/fa";
---

<header class="flex justify-between items-center px-4 py-2">
 
  <FaLaptopCode />

 
  <nav class="flex-1 flex justify-evenly gap-4 items-center">
    <a href="/Projects" class="hover:underline">Projects</a>
    <a href="/About" class="hover:underline">About</a>
    <a href="/Contact" class="hover:underline">Contact</a>
    <a href="Download" class="hover:underline">Download CV</a>
  </nav>

  
  <Buttonlight class="hover:underline" />
</header>
