<header class="flex justify-between items-center px-4 py-2">
<img src="#" alt="MariaGargoles" class="h-10"/>
<nav class="flex gap-4 items-center">
   
        <a href="/Projects" class="hover:underline">Projects</a>
        <a href="/About" class="hover:underline">About</a>
        <a href="/Contact" class="hover:underline">Contact</a>
        <a href="Download" class="hover:underline">Download CV</a>
        <button id="theme-toggle" aria-label="Toggle light/dark mode" class="flex items-center">
                <img src="#" alt="Toggle theme" class="h-6 w-6" />
        </button>
</nav>
</header>