---
import { GrCaretPrevious } from "react-icons/gr";
import { GrCaretNext } from "react-icons/gr";
import { FaGithub } from "react-icons/fa";
import { SiAmazonwebservices } from "react-icons/si";
const withBase = (p: string) =>
  `${import.meta.env.BASE_URL.replace(/\/+$/, "/")}${p.replace(/^\/+/, "")}`;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sliders =
      document.querySelectorAll<HTMLDivElement>(".slider-container");

    sliders.forEach((container) => {
      // Especificar tipos para los elementos seleccionados
      const slider = container.querySelector<HTMLDivElement>(".slider");
      const prevButton = container.querySelector<HTMLButtonElement>(".prev");
      const nextButton = container.querySelector<HTMLButtonElement>(".next");

      if (!slider || !prevButton || !nextButton) {
        console.error("Slider elements not found in container", container);
        return;
      }

      let currentIndex = 0;

      const updateSlider = () => {
        slider.style.transform = `translateX(-${currentIndex * 100}%)`;
      };

      prevButton.addEventListener("click", () => {
        currentIndex = Math.max(0, currentIndex - 1);
        console.log("Prev button clicked", currentIndex);
        updateSlider();
      });

      nextButton.addEventListener("click", () => {
        const sliderChildren = slider.children.length;
        currentIndex = Math.min(sliderChildren - 1, currentIndex + 1);
        console.log("Next button clicked", currentIndex);
        updateSlider();
      });
    });
  });
</script>

<section class="container mx-auto px-4 py-8">
  <h2 class="text-3xl font-syne font-bold mb-6 text-center">Last Works</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Project 1 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl font-semibold flex justify-center items-center mb-4">
        Creación Independiente
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-[30vh] bg-red-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img
              src={withBase("assets/cre1.JPG")}
              alt="Dycle dashboard enviroment"
            />
          </div>
          <div
            class="min-w-full h-[30vh] bg-green-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={withBase("assets/cre3.JPG")} alt="Dycle card" />
          </div>
          <div
            class="min-w-full h-[30vh] bg-blue-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={withBase("assets/cre2.JPG")} alt="Dycle dashboard" />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <article class="p-8 rounded-lg">
        <p class="mt-5 font-roboto text-base">
          Dcycle es una aplicación web diseñada para ayudar a las empresas a
          medir, gestionar y comunicar su impacto ambiental de forma sencilla y
          eficiente.<br /><br />
          El frontend está desarrollado con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-blue-300 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            React
          </span>

          <span
            class="bg-blue-800 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            TypeScript
          </span>
          <span
            class="bg-yellow-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Next.js
          </span>
        </div>

        <p class="mt-6 font-roboto text-base">
          El backend está construido con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-yellow-400 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Python
          </span>
          <span
            class="bg-orange-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Django
          </span>
          <span
            class="bg-blue-900 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            MySQL
          </span>
        </div>

        <p class="mt-6 font-roboto text-base">
          Además, incluye integración y despliegues automatizados con:
        </p>

        <div class="flex flex-wrap gap-2 mt-4">
          <span
            class="bg-orange-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
            >AWS</span
          >
        </div>

        <p class="mt-6 font-roboto text-base">
          Hacer llegar a todo tipo de publico los espectaculos independientes de
          España.
        </p>
      </article>
    </div>

    <!-- Project 2 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl font-syne flex justify-center font-semibold mb-4">
        MusicAdders
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-[30vh] bg-purple-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={withBase("assets/proy1.JPG")} alt="MusicAdders Login" />
          </div>
          <div
            class="min-w-full h-[30vh] bg-yellow-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={withBase("assets/proy2.JPG")} alt="MusicAdders Home" />
          </div>
          <div
            class="min-w-full h-[30vh] bg-pink-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img
              src={withBase("assets/proy3.JPG")}
              alt="MusicAdders ArtistPage"
            />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <article class="p-8 rounded-lg">
        <p class="mt-5 font-roboto text-base">
          MusicAdders App es una aplicación movil para descubrir, organizar y
          compartir música de forma sencilla, pensada especialmente para
          personas que necesitan un entorno estimulante o estructurado para
          concentrarse o relajarse. Ofrece una experiencia envolvente a través
          de una interfaz clara, minimalista y centrada en el usuario.<br /><br
          />
          El frontend está desarrollado con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-green-700 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Vue.js
          </span>
          <span
            class="bg-pink-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Ionic
          </span>
          <span
            class="bg-purple-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Capacitor
          </span>
        </div>
      </article>
    </div>
  </div>
</section>
