---

---

<span id="dynamic-text" class="font-syne text-2xl font-bold mb-4 pb-5"></span>

<script>
  const text = `Maria Gargoles Lajarin`;
  const element = document.getElementById("dynamic-text");

  let index = 0;

  const typeText = () => {
    if (element && index < text.length) {
      element.textContent += text.charAt(index);
      index++;
      setTimeout(typeText, 45);
    }
  };

  typeText();
</script>
