---
interface Props {
  title: string;
}
import Footer from "../components/FooterComponent/footer.astro";
import Header from "../components/HeaderComponent/header.astro";
import "@fontsource/roboto";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      (function () {
        const theme = localStorage.getItem("theme") || "light";
        document.documentElement.className = theme;
      })();
    </script>
  </head>
  <body>
    <Header />
    <Footer />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;

    --font-family: "Roboto", sans-serif;
  }

  html.light {
    --background-color: #f7f9f9;
    --text-color: #1c2833;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html.light nav a:hover {
    background-color: rgb(179, 182, 183);
  }

  html.dark {
    --background-color: #212121;
    --text-color: #f7f9f9;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent-dark)),
      rgb(var(--accent)),
      black 60%
    );
  }

  html.dark nav a:hover {
    background-color: rgb(82, 82, 82);
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
</style>
